## CANDRA ML-PROSESS Mentoring 1 with utils.py

In [5]:
# Changing directory for loading the utils.py file

import os
os.chdir('/Users/bytedance/CANDRA_MLPROCESS/src')

### Load the all Functions that we already create in the earlier Steps

1. Function load_data()
2. Function split_input_output()
3. Function split_train_test()
4. Function serialize_data()
5. Function deserialize_data()

In [4]:
from utils import load_data
from utils import split_input_output
from utils import split_train_test
from utils import serialize_data
from utils import deserialize_data

### 1. Load the dataset into a variable called data

In [7]:
# Read the dataset
# And then load the dataset into a variable called data in DataFrame type

FNAME = '/Users/bytedance/CANDRA_MLPROCESS/data/raw/credit_risk_dataset.csv'
data = load_data(fname = FNAME)

Data Shape: (32581, 12)

In [8]:
data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

### 2. Split into input (X) and output (y) Dataset

In [9]:
TARGET_COL = 'loan_status'

# call the split Function
X, y = split_input_output(data=data,
                          target_col=TARGET_COL)

Original data shape: (32581, 12)
X data shape: (32581, 11)
y data shape: (32581,)

### 3. Split into Training, Test, and Valid Dataset

In [11]:
# Splitting the dataset into training set
# Then split again 10% into valid and test set

# First, split the train & not train
X_train, X_not_train, y_train, y_not_train = split_train_test(X, y, 0.2, 42)

# Then, split the valid & test
X_valid, X_test, y_valid, y_test = split_train_test(X_not_train, y_not_train, 0.5, 42)

print(f"X train shape: {X_train.shape}")
print(f"y train shape: {y_train.shape}")
print(f"X test shape: {X_not_train.shape}")
print(f"y test shape: {y_not_train.shape}")
print('')
print(f"X valid shape: {X_valid.shape}")
print(f"y valid shape: {y_valid.shape}")
print(f"X test shape: {X_test.shape}")
print(f"y test shape: {y_test.shape}")

X train shape: (26064, 11)
y train shape: (26064,)
X test shape: (6517, 11)
y test shape: (6517,)

X valid shape: (3258, 11)
y valid shape: (3258,)
X test shape: (3259, 11)
y test shape: (3259,)

### 4. Serialize the all Dataset into .pkl files

In [12]:
# Call the serialize function to dump the dataset into .pkl files

serialize_X_train = serialize_data(data=X_train,
                                  path='X_train.pkl')
serialize_y_train = serialize_data(data=y_train,
                               path='y_train.pkl')
serialize_x_test = serialize_data(data=X_test,
                               path='X_test.pkl')
serialize_y_test = serialize_data(data=y_test,
                               path='y_test.pkl')
serialize_x_valid = serialize_data(data=X_valid,
                               path='X_valid.pkl')
serialize_y_valid = serialize_data(data=y_valid,
                               path='y_valid.pkl')

### 5. Deserialize all the binary objects into Python object (variables)

In [14]:
# Call the deserialize function to save the dataset into variable

deserialize_X_train = deserialize_data(path='X_train.pkl')
deserialize_y_train = deserialize_data(path='y_train.pkl')
deserialize_X_test = deserialize_data(path='X_test.pkl')
deserialize_y_test = deserialize_data(path='y_test.pkl')
deserialize_X_valid = deserialize_data(path='X_valid.pkl')
deserialize_y_valid = deserialize_data(path='y_valid.pkl')

In [16]:
# Test checking the new variable after Unpickling
deserialize_X_train.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
15884,25,241875,MORTGAGE,4.0,EDUCATION,A,16000,7.05,0.07,N,4
15138,21,18000,RENT,5.0,PERSONAL,B,1500,12.18,0.08,N,4
7474,25,53000,MORTGAGE,10.0,MEDICAL,B,16000,12.53,0.30,N,2
18212,28,16800,OWN,NaN,MEDICAL,C,5000,13.98,0.30,N,8
6493,25,50000,MORTGAGE,2.0,VENTURE,A,10000,7.90,0.20,N,2